.body{
    padding-top: 2%;
    display: flex;
    justify-content: center;
}
.chooseGame{
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
p{
    color: white;
    font-size: larger;
    text-align: center;
    padding:10px;
}
.whole{
    width: 500px;
    border-radius: 5px; 
    border: 3px solid black;
    background-color: #241c1c;
}